/* CONTAINERS */
.artist-profile-container {
    flex: 1 1 75%;
    min-width: 0;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    padding: var(--s);
}

/* ARTIST CONTENT */
.artist-data-container {
    flex: 0 0 1;
    min-width: 0;
    width: 100%;
    max-width: 50%;

    display: flex;
    flex-direction: column;
}

.artist-name {
    color: var(--primary);
    cursor: pointer;
}
.album-type-header {
    font-style: italic;
    width: min-content;
}
.album-row {
    display: flex;
    margin: var(--s) 0;
    height: var(--xxl);
    overflow: hidden;
    text-wrap: nowrap;
    &:hover { overflow: visible; }
}
.album-image {
    margin: 0 var(--s);
    height: var(--xxl);
    width: var(--xxl);
    aspect-ratio: 1/1;
    border-radius: var(--xs);
}
.album-text {
    display: flex;
    flex-direction: column;
}
.album-year { 
    color: var(--gray); 
}
.album-title {
    font-size: var(--l);
    overflow: hidden;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: min-content;

    &:hover { overflow-x: visible; }
}

/* TRACKS */
.track-list { margin: var(--s); }
.track-order { color: var(--gray); }
.track-title { margin: var(--s); }
.track-duration { color: var(--gray); }


/* ACTIVE ITEM */
.motif-data-container {
    flex: 0 0 3;
    min-width: 0;
    width: 324px;
    max-width: 50%;
    
    position: sticky;
    top: var(--m);
    height: calc(100vh - 100px);
    
    background-color: black;
    border-radius: var(--s);
    padding: var(--s);
    margin-left: auto;

    overflow-y: scroll;
}
.add-review-button {
    color: var(--primary);
}
.item-image {
    border: 1px solid var(--light);
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--s);
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
}
.item-title {
    color: var(--primary);
}
.item-year {}
.item-duration {}
.item-explicit {
    color: var(--red);
    font-style: italic;
}

.reviews-header {
    display: inline-block;
}
.item-review {
    margin: var(--s);
    background-color: var(--gray-shade);
    border-radius: var(--s);
    padding: var(--s);
    line-height: 1;
}
.review-stars-container {
    display: inline-block;
    margin-right: var(--s);
}
.review-star {
    stroke: var(--primary);
    fill: var(--primary);
    height: var(--s);
    width: var(--s);
    display: inline-block;
}
.review-star-empty {
    stroke: var(--primary);
    fill: none;
    height: var(--s);
    width: var(--s);
    display: inline-block;
}
.review-username {
    display: inline-block;
    color: var(--light);
}
.review-comment {
    font-style: italic;
    display: block;
    margin-left: var(--s);
}