.icon-button {
    background-color: transparent;
}

.icon-button-wrapper {
    :hover {
        color: var(--dark);
        background-color: var(--primary);
    }
}

.popularity-icon-wtf { color: color-mix(in srgb, var(--red) 100%, white); }
.popularity-icon-hot { color: color-mix(in srgb, var(--red) 75%, white); }
.popularity-icon-warm { color: color-mix(in srgb, var(--red) 50%, white); }
.popularity-icon-cool { color: color-mix(in srgb, var(--red) 25%, white); }
.popularity-icon-cold { color: color-mix(in srgb, var(--red) 0%, white); }