.navbar {
    /* padding: 0 0 var(--xxs) var(--s); */
    background-color: var(--gray-1);
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.navbar-logo {
    margin-left: var(--s);
    color: var(--primary);
    font-family: var(--ff-logo);
    font-size: var(--xl);
    width: min-content;

    &:focus { text-decoration: none; }
    &:hover { text-decoration: none; }
}
.navbar-user-options {
    text-align: end;
}
.user-icon {
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 100%;
}
.navbar-menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    gap: var(--m);
    list-style: none;
    padding: 0;
}

.navbar-link {
    color: var(--line);
    font-size: var(--m);

    &:hover {
        color: var(--primary);
        text-decoration: none;
    }
}

.login-btn {
    margin: var(--s) 0;
}


.searchbar-input {
    padding: var(--s);
    margin-bottom: var(--s);
}

.navbar-user {
    display: flex;
    gap: var(--m);
    margin: var(--s);
    align-items: end;
    direction: ltr;
}




.dropdown {
    ul {
        visibility: hidden;
    }

    &:hover {
        ul { visibility: visible; }
    }
}

.dropdown-container {
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: var(--s);
    padding: 0;
    direction: rtl;

    .dropdown-menu {
        cursor: auto;
        position: absolute;
        visibility: hidden;
        display: none;
        list-style-type: none;
        margin: 0;
        padding: var(--s);
        background-color: var(--light);
        color: var(--dark);

        transition: all 0.5s ease;

        width: 137%;
    }

    &:hover .dropdown-menu {
        visibility: visible;
        display: block;
    }

    li {
        border-bottom: 1px solid var(--gray);
        cursor: pointer;
        direction: ltr;

        &:hover { color: var(--primary-shade); }
    }
}
