.search-container {
    flex: 1 1 25%;
    padding: var(--m) var(--s);
    background-color: var(--primary-shade);

    min-width: 0%;
    transition: flex-basis 1s ease-out;
    text-overflow: hidden;
    overflow-x: hidden;

    min-height: calc(100vh - 100px);

    border-radius: var(--s);
    margin: var(--xs);
}
.expand { 
    flex: 1 0 25%;
    transition: flex-basis 0.3s ease-out;
    min-width: 25%;
}
.collapse { 
    flex: 0 0 1%; 
    cursor: pointer;
    transition: flex-basis 0.4s ease-in-out;
    background-color: var(--primary);

    &:hover { 
        background-color: var(--primary-shade);
        flex: 0 0 3%;
    }
}

/* Searchbar */
.searchbar-input {
    padding: var(--s);
    width: 100%;
    margin-bottom: var(--s);
}
.searchbar-btn {
    padding: var(--s);
}
.content-type-radio-group {
    width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--s);
    border-radius: var(--s);
    margin: 0;
    padding: var(--xs);
}
.content-type-radio-legend {}
.content-type-radio-btn {
    accent-color: var(--primary);
    &:focus { box-shadow: none; }
}

/* Search results */
.search-item {
    display: flex;
    flex-direction: row;
    height: var(--xxl);
    margin: var(--s) 0;
}
.search-item-image {
    margin: 0 var(--s);
    height: var(--xxl);
    width: var(--xxl);
    aspect-ratio: 1/1;
    border-radius: var(--xs);
    border: 1px solid var(--dark);
}
.search-item-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    white-space: nowrap;
}
.search-item-title {
    font-size: var(--l);
    flex: 0 0 63%;
    text-wrap: nowrap;

}
.search-item-artists-list {
    font-style: italic;
    text-wrap: nowrap;
    flex: 0 0 37%;
    overflow: hidden;
}
.search-item-plaintext { 
    color: var(--primary-tint);
}
.search-item-artist {
    font-size: var(--m);
}

/* Skeleton UI */
.skeleton-item {
    display: flex;
    flex-direction: row;
    height: var(--xxl);
    margin: var(--s) 0;
    align-items: end;
}
.skeleton-img {
    height: var(--xxl);
    width: var(--xxl);
    aspect-ratio: 1/1;
    margin: 0 var(--s);
    border-radius: var(--s);
    background-color: var(--gray);
    border: 1px solid var(--dark);
}
.skeleton-text {
    background-color: var(--gray-tint);
    height: 50%;
    width: 100%;
    border-radius: var(--s);
    border: 1px solid var(--dark);
}
